<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_dataDriven_via_xml</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e47893">  <td>24/05/21 21:30:55</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_test_script_DataDriven_testngxml.setup()[pri:0, instance:testScripts.Patch_test_script_DataDriven_testngxml@5a2d131d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/21 21:30:55</td>   <td>24</td> <td>&nbsp;</td><td title="&gt;&gt;Post_test_script_DataDriven_testngxml.setup()[pri:0, instance:testScripts.Post_test_script_DataDriven_testngxml@ca30bc1]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/21 21:31:01</td>   <td>6075</td> <td>&nbsp;</td><td title="&lt;&lt;Put_test_script_DataDriven_testngxml.teardown()[pri:0, instance:testScripts.Put_test_script_DataDriven_testngxml@60df60da]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/21 21:30:55</td>   <td>87</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_script_DataDriven_testngxml.validate_PostTC1(java.lang.String,java.lang.String)[pri:0, instance:testScripts.Post_test_script_DataDriven_testngxml@ca30bc1]">validate_PostTC1</td> 
  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/21 21:30:55</td>   <td>26</td> <td>&nbsp;</td><td title="&gt;&gt;Put_test_script_DataDriven_testngxml.setup()[pri:0, instance:testScripts.Put_test_script_DataDriven_testngxml@60df60da]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/21 21:31:01</td>   <td>6068</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_test_script_DataDriven_testngxml.teardown()[pri:0, instance:testScripts.Patch_test_script_DataDriven_testngxml@5a2d131d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/21 21:31:00</td>   <td>4764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_test_script_DataDriven_testngxml.validate_PutTC1(java.lang.String,java.lang.String)[pri:0, instance:testScripts.Put_test_script_DataDriven_testngxml@60df60da]">validate_PutTC1</td> 
  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/21 21:31:01</td>   <td>6073</td> <td>&nbsp;</td><td title="&lt;&lt;Post_test_script_DataDriven_testngxml.teardown()[pri:0, instance:testScripts.Post_test_script_DataDriven_testngxml@ca30bc1]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/21 21:31:01</td>   <td>5414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_test_script_DataDriven_testngxml.validate_PatchTC1(java.lang.String,java.lang.String)[pri:0, instance:testScripts.Patch_test_script_DataDriven_testngxml@5a2d131d]">validate_PatchTC1</td> 
  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/21 21:31:01</td>   <td>6138</td> <td>&nbsp;</td><td title="&gt;&gt;Post_test_script_DataDriven_testngxml.setup()[pri:0, instance:testScripts.Post_test_script_DataDriven_testngxml@36328d33]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/21 21:31:03</td>   <td>8046</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_test_script_DataDriven_testngxml.teardown()[pri:0, instance:testScripts.Patch_test_script_DataDriven_testngxml@7f0d96f2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/21 21:31:02</td>   <td>6808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_test_script_DataDriven_testngxml.validate_PutTC1(java.lang.String,java.lang.String)[pri:0, instance:testScripts.Put_test_script_DataDriven_testngxml@2c4d1ac]">validate_PutTC1</td> 
  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/21 21:31:01</td>   <td>6143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_script_DataDriven_testngxml.validate_PostTC1(java.lang.String,java.lang.String)[pri:0, instance:testScripts.Post_test_script_DataDriven_testngxml@36328d33]">validate_PostTC1</td> 
  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/21 21:31:01</td>   <td>6139</td> <td>&nbsp;</td><td title="&gt;&gt;Put_test_script_DataDriven_testngxml.setup()[pri:0, instance:testScripts.Put_test_script_DataDriven_testngxml@2c4d1ac]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/21 21:31:03</td>   <td>7427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_test_script_DataDriven_testngxml.validate_PatchTC1(java.lang.String,java.lang.String)[pri:0, instance:testScripts.Patch_test_script_DataDriven_testngxml@7f0d96f2]">validate_PatchTC1</td> 
  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/21 21:31:03</td>   <td>8049</td> <td>&nbsp;</td><td title="&lt;&lt;Post_test_script_DataDriven_testngxml.teardown()[pri:0, instance:testScripts.Post_test_script_DataDriven_testngxml@36328d33]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/21 21:31:01</td>   <td>6137</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_test_script_DataDriven_testngxml.setup()[pri:0, instance:testScripts.Patch_test_script_DataDriven_testngxml@7f0d96f2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/21 21:31:03</td>   <td>8053</td> <td>&nbsp;</td><td title="&lt;&lt;Put_test_script_DataDriven_testngxml.teardown()[pri:0, instance:testScripts.Put_test_script_DataDriven_testngxml@2c4d1ac]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
</table>
