<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Series_runner_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9674be">  <td>24/05/21 17:13:15</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_test_script.setup()[pri:0, instance:testScripts.Patch_test_script@ca30bc1]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="9868b2">  <td>24/05/21 17:13:15</td>   <td>3</td> <td>&nbsp;</td><td title="&gt;&gt;Post_test_script.setup()[pri:0, instance:testScripts.Post_test_script@14fc1f0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="81f160">  <td>24/05/21 17:13:15</td>   <td>5</td> <td>&nbsp;</td><td title="&gt;&gt;Put_test_script.setup()[pri:0, instance:testScripts.Put_test_script@60df60da]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="ab8268">  <td>24/05/21 17:13:15</td>   <td>-28</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_test_script.setup()[pri:0, instance:testScripts.Delete_test_script@4ae9cfc1]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="acaf9d">  <td>24/05/21 17:13:15</td>   <td>-2</td> <td>&nbsp;</td><td title="&gt;&gt;Get_test_script.setup()[pri:0, instance:testScripts.Get_test_script@5a2d131d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="907a8c">  <td>24/05/21 17:13:15</td>   <td>2</td> <td>&nbsp;</td><td title="&gt;&gt;Post_param_test_script.setup()[pri:0, instance:testScripts.Post_param_test_script@512baff6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="9868b2">  <td>24/05/21 17:13:25</td>   <td>9977</td> <td>&nbsp;</td><td title="&lt;&lt;Post_test_script.teardown()[pri:0, instance:testScripts.Post_test_script@14fc1f0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="ab8268">  <td>24/05/21 17:13:25</td>   <td>9868</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_test_script.teardown()[pri:0, instance:testScripts.Delete_test_script@4ae9cfc1]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="81f160">  <td>24/05/21 17:13:25</td>   <td>9981</td> <td>&nbsp;</td><td title="&lt;&lt;Put_test_script.teardown()[pri:0, instance:testScripts.Put_test_script@60df60da]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="acaf9d">  <td>24/05/21 17:13:25</td>   <td>9875</td> <td>&nbsp;</td><td title="&lt;&lt;Get_test_script.teardown()[pri:0, instance:testScripts.Get_test_script@5a2d131d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="9674be">  <td>24/05/21 17:13:25</td>   <td>9878</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_test_script.teardown()[pri:0, instance:testScripts.Patch_test_script@ca30bc1]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="907a8c">  <td>24/05/21 17:13:25</td>   <td>9880</td> <td>&nbsp;</td><td title="&lt;&lt;Post_param_test_script.teardown()[pri:0, instance:testScripts.Post_param_test_script@512baff6]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="ab8268">  <td>24/05/21 17:13:22</td>   <td>7210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_test_script.validate_DeleteTC1()[pri:0, instance:testScripts.Delete_test_script@4ae9cfc1]">validate_DeleteTC1</td> 
  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="acaf9d">  <td>24/05/21 17:13:20</td>   <td>5241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_test_script.validate_GetTC1()[pri:0, instance:testScripts.Get_test_script@5a2d131d]">validate_GetTC1</td> 
  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="9674be">  <td>24/05/21 17:13:15</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_test_script.validate_PatchTC1()[pri:0, instance:testScripts.Patch_test_script@ca30bc1]">validate_PatchTC1</td> 
  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="9868b2">  <td>24/05/21 17:13:22</td>   <td>6515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_script.validate_PostTC1()[pri:0, instance:testScripts.Post_test_script@14fc1f0]">validate_PostTC1</td> 
  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="907a8c">  <td>24/05/21 17:13:23</td>   <td>7908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_param_test_script.validate_Post_ParamTC1()[pri:0, instance:testScripts.Post_param_test_script@512baff6]">validate_Post_ParamTC1</td> 
  <td>main@1292472219</td>   <td></td> </tr>
<tr bgcolor="81f160">  <td>24/05/21 17:13:20</td>   <td>4560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_test_script.validate_PutTC1()[pri:0, instance:testScripts.Put_test_script@60df60da]">validate_PutTC1</td> 
  <td>main@1292472219</td>   <td></td> </tr>
</table>
