<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_Retry</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e7a6b2">  <td>24/05/12 14:56:58</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_test_script.setup()[pri:0, instance:testScripts.Post_test_script@78641d23]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@861623840</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/12 14:57:02</td>   <td>4707</td> <td>&nbsp;</td><td title="&lt;&lt;Post_test_script.teardown()[pri:0, instance:testScripts.Post_test_script@78641d23]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@861623840</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/12 14:56:58</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_script.validate_PostTC1()[pri:0, instance:testScripts.Post_test_script@78641d23]">validate_PostTC1</td> 
  <td>main@861623840</td>   <td></td> </tr>
</table>
