<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_Retry_parallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1bbdc">  <td>24/05/07 08:21:27</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_test_script.setup()[pri:0, instance:testScripts.Post_test_script@5a2d131d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/07 08:21:27</td>   <td>-2</td> <td>&nbsp;</td><td title="&gt;&gt;Post_param_test_script.setup()[pri:0, instance:testScripts.Post_param_test_script@4ae9cfc1]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/07 08:21:27</td>   <td>-41</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_test_script.setup()[pri:0, instance:testScripts.Delete_test_script@14fc1f0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/07 08:21:27</td>   <td>-15</td> <td>&nbsp;</td><td title="&gt;&gt;Get_test_script.setup()[pri:0, instance:testScripts.Get_test_script@60df60da]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="9c97cb">  <td>24/05/07 08:21:27</td>   <td>8</td> <td>&nbsp;</td><td title="&gt;&gt;Put_test_script.setup()[pri:0, instance:testScripts.Put_test_script@7a362b6b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/07 08:21:27</td>   <td>-8</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_test_script.setup()[pri:0, instance:testScripts.Patch_test_script@291a7e3c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/07 08:21:34</td>   <td>7121</td> <td>&nbsp;</td><td title="&lt;&lt;Get_test_script.teardown()[pri:0, instance:testScripts.Get_test_script@60df60da]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/07 08:21:34</td>   <td>7114</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_test_script.teardown()[pri:0, instance:testScripts.Delete_test_script@14fc1f0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="a1bbdc">  <td>24/05/07 08:21:34</td>   <td>7244</td> <td>&nbsp;</td><td title="&lt;&lt;Post_test_script.teardown()[pri:0, instance:testScripts.Post_test_script@5a2d131d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="9c97cb">  <td>24/05/07 08:21:34</td>   <td>7249</td> <td>&nbsp;</td><td title="&lt;&lt;Put_test_script.teardown()[pri:0, instance:testScripts.Put_test_script@7a362b6b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/07 08:21:34</td>   <td>7127</td> <td>&nbsp;</td><td title="&lt;&lt;Post_param_test_script.teardown()[pri:0, instance:testScripts.Post_param_test_script@4ae9cfc1]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/07 08:21:34</td>   <td>7124</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_test_script.teardown()[pri:0, instance:testScripts.Patch_test_script@291a7e3c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/07 08:21:27</td>   <td>72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_test_script.validate_DeleteTC1()[pri:0, instance:testScripts.Delete_test_script@14fc1f0]">validate_DeleteTC1</td> 
  <td>TestNG-test=Parallel_Retry-5@787361897</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/07 08:21:27</td>   <td>72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_test_script.validate_GetTC1()[pri:0, instance:testScripts.Get_test_script@60df60da]">validate_GetTC1</td> 
  <td>TestNG-test=Parallel_Retry-3@1215946669</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/07 08:21:27</td>   <td>71</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_test_script.validate_PatchTC1()[pri:0, instance:testScripts.Patch_test_script@291a7e3c]">validate_PatchTC1</td> 
  <td>TestNG-test=Parallel_Retry-1@23880693</td>   <td></td> </tr>
<tr bgcolor="a1bbdc">  <td>24/05/07 08:21:27</td>   <td>72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_script.validate_PostTC1()[pri:0, instance:testScripts.Post_test_script@5a2d131d]">validate_PostTC1</td> 
  <td>TestNG-test=Parallel_Retry-4@1961595039</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/07 08:21:27</td>   <td>70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_param_test_script.validate_Post_ParamTC1()[pri:0, instance:testScripts.Post_param_test_script@4ae9cfc1]">validate_Post_ParamTC1</td> 
  <td>TestNG-test=Parallel_Retry-6@90346768</td>   <td></td> </tr>
<tr bgcolor="9c97cb">  <td>24/05/07 08:21:27</td>   <td>70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_test_script.validate_PutTC1()[pri:0, instance:testScripts.Put_test_script@7a362b6b]">validate_PutTC1</td> 
  <td>TestNG-test=Parallel_Retry-2@186061555</td>   <td></td> </tr>
</table>
