<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70a591">  <td>24/05/17 23:18:21</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_param_test_script.setup()[pri:0, instance:testScripts.Post_param_test_script@54e7df6a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="a1bbdc">  <td>24/05/17 23:18:21</td>   <td>-12</td> <td>&nbsp;</td><td title="&gt;&gt;Get_test_script.setup()[pri:0, instance:testScripts.Get_test_script@30e868be]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="67a5d6">  <td>24/05/17 23:18:21</td>   <td>5</td> <td>&nbsp;</td><td title="&gt;&gt;Post_test_script.setup()[pri:0, instance:testScripts.Post_test_script@39de3d36]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="ad9ce5">  <td>24/05/17 23:18:21</td>   <td>10</td> <td>&nbsp;</td><td title="&gt;&gt;Post_test_script_DataDriven_DataProvider_sameclass.setup()[pri:0, instance:testScripts.Post_test_script_DataDriven_DataProvider_sameclass@77128536]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/17 23:18:27</td>   <td>6220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testScript.validate(java.lang.String,java.lang.String)[pri:0, instance:testScripts.testScript@6581dc0a]">validate</td> 
  <td>TestNG-test=Test_1-5@504336483</td>   <td></td> </tr>
<tr bgcolor="b189ac">  <td>24/05/17 23:18:29</td>   <td>8056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_script_DataDriven_DataProvider_differentClass.validate_PostTC2(java.lang.String,java.lang.String)[pri:2, instance:testScripts.Post_test_script_DataDriven_DataProvider_differentClass@3fed2870]">validate_PostTC2</td> 
  <td>TestNG-test=Test_1-10@33419717</td>   <td></td> </tr>
<tr bgcolor="b189ac">  <td>24/05/17 23:18:27</td>   <td>6649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_script_DataDriven_DataProvider_differentClass.validate_PostTC1(java.lang.String,java.lang.String)[pri:1, instance:testScripts.Post_test_script_DataDriven_DataProvider_differentClass@3fed2870]">validate_PostTC1</td> 
  <td>TestNG-test=Test_1-10@33419717</td>   <td></td> </tr>
<tr bgcolor="9c97cb">  <td>24/05/17 23:18:21</td>   <td>15</td> <td>&nbsp;</td><td title="&gt;&gt;Put_test_script.setup()[pri:0, instance:testScripts.Put_test_script@4b23c30a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="b189ac">  <td>24/05/17 23:18:30</td>   <td>8772</td> <td>&nbsp;</td><td title="&lt;&lt;Post_test_script_DataDriven_DataProvider_differentClass.teardown()[pri:0, instance:testScripts.Post_test_script_DataDriven_DataProvider_differentClass@3fed2870]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="b189ac">  <td>24/05/17 23:18:27</td>   <td>6649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_script_DataDriven_DataProvider_differentClass.validate_PostTC1(java.lang.String,java.lang.String)[pri:1, instance:testScripts.Post_test_script_DataDriven_DataProvider_differentClass@3fed2870]">validate_PostTC1</td> 
  <td>TestNG-test=Test_1-10@33419717</td>   <td></td> </tr>
<tr bgcolor="b08cbd">  <td>24/05/17 23:18:21</td>   <td>90</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_test_script.validate_DeleteTC1()[pri:0, instance:testScripts.Delete_test_script@6ce86ce1]">validate_DeleteTC1</td> 
  <td>TestNG-test=Test_1-7@1558079303</td>   <td></td> </tr>
<tr bgcolor="ad9ce5">  <td>24/05/17 23:18:27</td>   <td>6305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_script_DataDriven_DataProvider_sameclass.validate_PostTC2(java.lang.String,java.lang.String)[pri:1, instance:testScripts.Post_test_script_DataDriven_DataProvider_sameclass@77128536]">validate_PostTC2</td> 
  <td>TestNG-test=Test_1-11@1940055334</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/17 23:18:29</td>   <td>8672</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_test_script.teardown()[pri:0, instance:testScripts.Patch_test_script@4b41dd5c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/17 23:18:21</td>   <td>99</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MockTest.validate()[pri:0, instance:testScripts.MockTest@673be18f]">validate</td> 
  <td>TestNG-test=Test_1-4@1566511282</td>   <td></td> </tr>
<tr bgcolor="9c97cb">  <td>24/05/17 23:18:21</td>   <td>99</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_test_script.validate_PutTC1()[pri:0, instance:testScripts.Put_test_script@4b23c30a]">validate_PutTC1</td> 
  <td>TestNG-test=Test_1-2@473053293</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/17 23:18:21</td>   <td>-10</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_test_script.setup()[pri:0, instance:testScripts.Patch_test_script@4b41dd5c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="9c97cb">  <td>24/05/17 23:18:30</td>   <td>8782</td> <td>&nbsp;</td><td title="&lt;&lt;Put_test_script.teardown()[pri:0, instance:testScripts.Put_test_script@4b23c30a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="ad9ce5">  <td>24/05/17 23:18:29</td>   <td>7790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_script_DataDriven_DataProvider_sameclass.validate_PostTC1(java.lang.String,java.lang.String)[pri:2, instance:testScripts.Post_test_script_DataDriven_DataProvider_sameclass@77128536]">validate_PostTC1</td> 
  <td>TestNG-test=Test_1-11@1940055334</td>   <td></td> </tr>
<tr bgcolor="ad9ce5">  <td>24/05/17 23:18:29</td>   <td>7790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_script_DataDriven_DataProvider_sameclass.validate_PostTC1(java.lang.String,java.lang.String)[pri:2, instance:testScripts.Post_test_script_DataDriven_DataProvider_sameclass@77128536]">validate_PostTC1</td> 
  <td>TestNG-test=Test_1-11@1940055334</td>   <td></td> </tr>
<tr bgcolor="67a5d6">  <td>24/05/17 23:18:30</td>   <td>8764</td> <td>&nbsp;</td><td title="&lt;&lt;Post_test_script.teardown()[pri:0, instance:testScripts.Post_test_script@39de3d36]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="67a5d6">  <td>24/05/17 23:18:21</td>   <td>97</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_script.validate_PostTC1()[pri:0, instance:testScripts.Post_test_script@39de3d36]">validate_PostTC1</td> 
  <td>TestNG-test=Test_1-6@1984094095</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/17 23:18:21</td>   <td>89</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_priority_testScript.validate_PostTC1()[pri:1, instance:testScripts.Post_priority_testScript@38089a5a]">validate_PostTC1</td> 
  <td>TestNG-test=Test_1-9@295304806</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/17 23:18:27</td>   <td>6597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_priority_testScript.validate_PostTC2()[pri:2, instance:testScripts.Post_priority_testScript@38089a5a]">validate_PostTC2</td> 
  <td>TestNG-test=Test_1-9@295304806</td>   <td></td> </tr>
<tr bgcolor="a1bbdc">  <td>24/05/17 23:18:21</td>   <td>92</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_test_script.validate_GetTC1()[pri:0, instance:testScripts.Get_test_script@30e868be]">validate_GetTC1</td> 
  <td>TestNG-test=Test_1-3@20804602</td>   <td></td> </tr>
<tr bgcolor="b189ac">  <td>24/05/17 23:18:21</td>   <td>8</td> <td>&nbsp;</td><td title="&gt;&gt;Post_test_script_DataDriven_DataProvider_differentClass.setup()[pri:0, instance:testScripts.Post_test_script_DataDriven_DataProvider_differentClass@3fed2870]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/17 23:18:30</td>   <td>8754</td> <td>&nbsp;</td><td title="&lt;&lt;Post_priority_testScript.teardown()[pri:0, instance:testScripts.Post_priority_testScript@38089a5a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="ad9ce5">  <td>24/05/17 23:18:30</td>   <td>8778</td> <td>&nbsp;</td><td title="&lt;&lt;Post_test_script_DataDriven_DataProvider_sameclass.teardown()[pri:0, instance:testScripts.Post_test_script_DataDriven_DataProvider_sameclass@77128536]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="b189ac">  <td>24/05/17 23:18:29</td>   <td>8056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_script_DataDriven_DataProvider_differentClass.validate_PostTC2(java.lang.String,java.lang.String)[pri:2, instance:testScripts.Post_test_script_DataDriven_DataProvider_differentClass@3fed2870]">validate_PostTC2</td> 
  <td>TestNG-test=Test_1-10@33419717</td>   <td></td> </tr>
<tr bgcolor="70a591">  <td>24/05/17 23:18:29</td>   <td>8674</td> <td>&nbsp;</td><td title="&lt;&lt;Post_param_test_script.teardown()[pri:0, instance:testScripts.Post_param_test_script@54e7df6a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="a1bbdc">  <td>24/05/17 23:18:29</td>   <td>8669</td> <td>&nbsp;</td><td title="&lt;&lt;Get_test_script.teardown()[pri:0, instance:testScripts.Get_test_script@30e868be]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/17 23:18:21</td>   <td>89</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_test_script.validate_PatchTC1()[pri:0, instance:testScripts.Patch_test_script@4b41dd5c]">validate_PatchTC1</td> 
  <td>TestNG-test=Test_1-1@1237762639</td>   <td></td> </tr>
<tr bgcolor="b08cbd">  <td>24/05/17 23:18:29</td>   <td>8663</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_test_script.teardown()[pri:0, instance:testScripts.Delete_test_script@6ce86ce1]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="ad9ce5">  <td>24/05/17 23:18:27</td>   <td>6305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test_script_DataDriven_DataProvider_sameclass.validate_PostTC2(java.lang.String,java.lang.String)[pri:1, instance:testScripts.Post_test_script_DataDriven_DataProvider_sameclass@77128536]">validate_PostTC2</td> 
  <td>TestNG-test=Test_1-11@1940055334</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/17 23:18:27</td>   <td>6220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testScript.validate(java.lang.String,java.lang.String)[pri:0, instance:testScripts.testScript@6581dc0a]">validate</td> 
  <td>TestNG-test=Test_1-5@504336483</td>   <td></td> </tr>
<tr bgcolor="b08cbd">  <td>24/05/17 23:18:21</td>   <td>-42</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_test_script.setup()[pri:0, instance:testScripts.Delete_test_script@6ce86ce1]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/17 23:18:21</td>   <td>3</td> <td>&nbsp;</td><td title="&gt;&gt;Post_priority_testScript.setup()[pri:0, instance:testScripts.Post_priority_testScript@38089a5a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230526532</td>   <td></td> </tr>
<tr bgcolor="70a591">  <td>24/05/17 23:18:21</td>   <td>99</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_param_test_script.validate_Post_ParamTC1()[pri:0, instance:testScripts.Post_param_test_script@54e7df6a]">validate_Post_ParamTC1</td> 
  <td>TestNG-test=Test_1-8@58488213</td>   <td></td> </tr>
</table>
