<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9caaeb">  <td>24/05/17 22:53:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="data_test.apitrigger(java.lang.String,java.lang.String)[pri:0, instance:testScripts.data_test@5ef5c734]">apitrigger</td> 
  <td>main@1859383896</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/17 22:53:30</td>   <td>6180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="data_test.apitrigger(java.lang.String,java.lang.String)[pri:0, instance:testScripts.data_test@512baff6]">apitrigger</td> 
  <td>main@1859383896</td>   <td></td> </tr>
</table>
