<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_priority</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e7a6b2">  <td>24/05/21 21:33:46</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_priority_testScript.setup()[pri:0, instance:testScripts.Post_priority_testScript@74589991]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1322642290</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/21 21:33:52</td>   <td>5482</td> <td>&nbsp;</td><td title="&lt;&lt;Post_priority_testScript.teardown()[pri:0, instance:testScripts.Post_priority_testScript@74589991]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1322642290</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/21 21:33:46</td>   <td>66</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_priority_testScript.validate_PostTC1()[pri:1, instance:testScripts.Post_priority_testScript@74589991]">validate_PostTC1</td> 
  <td>main@1322642290</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/21 21:33:51</td>   <td>4814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_priority_testScript.validate_PostTC2()[pri:2, instance:testScripts.Post_priority_testScript@74589991]">validate_PostTC2</td> 
  <td>main@1322642290</td>   <td></td> </tr>
</table>
